@{
    ViewBag.Title = "About";
}

<div class="row-fluid">
    <div class="span6 offset3">
        <h3>Who I am</h3>
        <p>I am a father and a husband first and a software developer second. Before I began my career as a software developer I was a teacher in a 
            Kansas City area school district. After spending 3 years in the classroom my wife and I had a discussion on where our family was heading, 
            that's when I knew it was time for a change. I finished the school year and the following Monday I was in a classroom learning how to program. 
            Working through the courses at Centriq training gave me the ability to develop software. At the conclusion of the courses I presented my project 
            that I had spent the previous two weeks working on. That presentation was what got me the job I am in today. I work in a development shop here in 
            the Kansas City area.</p>
        
        
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#About").addClass("active");
        var x = 5 * 25;
        $("#JS").append(x);
    </script>
}