@{
    ViewBag.Title = "Resume";
}

<div class="row-fluid">
    <div class="span8 offset2">
            <h1>Joshua Waldron</h1>
            <p>1412 NW 70th Street </p>
            <p>Kansas City MO, 64118</p>
                    <h1 class="text-center">DEVELOPER</h1>
                    <h2>SUMMARY OF QUALIFICATIONS</h2>
                    <ul>
                        <li>Microsoft Certified Technology Specialist (MCTS): 3.5 .NET Framework Web Applications</li>
                        <li>Excellent foundational knowledge in designing and developing web applications using
                            .NET framework</li>
                        <li>9 years of teaching in educational settings</li>
                        <li>Experienced professional in problem-solving, decision making, and working under
                            deadlines set forth by state and federal guidelines</li>
                        <li>Proficient in conversational Spanish</li>
                    </ul> <br />
                    <h2>TECHNICAL SKILLS</h2>
                    <table class="table">
                        <tr>
                            <td>C#</td>
                            <td>ASP.NET</td>
                            <td>PowerShell</td>
                            <td>AJAX</td>
                            <td>jQuery</td>
                        </tr>
                        <tr>
                            <td>LINQ</td>
                            <td>Visual Studio 2010 / 2012</td>
                            <td>SQL</td>
                            <td>SQL Server</td>
                            <td>Twitter Bootstrap</td>
                        </tr>
                        <tr>
                            <td>Oracle SQL</td>
                            <td>Entity Framework</td>
                            <td>MVC</td>
                            <td>Windows Server</td>
                            <td>Debugging</td>
                        </tr>
                        <tr>
                            <td>IIS</td>
                            <td>Automation</td>
                            <td>Jenkins</td>
                            <td>Linux</td>
                            <td>vim</td>
                        </tr>
                        </table><br />
                  
                    <h2>
                        PROFESSIONAL EXPERIENCE
                    </h2>
                    <h4>NIC</h4>
                    <span class="pull-right">09/2011- Present<br />                    
                    Olathe, KS </span>
                    <strong>Web Developer</strong>
                    <ul>
                        <li>Scripting repeatable tasks to maximize time on task.</li>
                        <li>Deploy all windows based applications to production environments</li>
                        <li>Writing .Net applications to help facilitate self service of errors</li>
                        <li>Debugging errors in .Net applications</li>
                        <li>Customer service, relaying technical aspects of an application to a non-technical person</li>
                    </ul>
                    <br />
                    <h4>The J Wal Development</h4>
                    <span class="pull-right">10/2012- Present<br />                    
                    Kansas City, MO </span>
                    <strong>Owner &amp; Developer</strong>
                    <ul>
                        <li>Create custom solutions for businesses</li>
                        <li>Provide web hosting</li>
                        <li>Write custom web applications using .NET</li>
                    </ul>
                    <br />
                    <h4>North Kansas City School District</h4>
                    <span class="pull-right">08/2008 – 06/2011 <br />
                    Gladstone, MO </span><strong>3rd Grade Teacher</strong> 
                    <ul>
                        <li>Implemented state mandated curriculum</li>
                        <li>Created website to keep constant daily updates with parents as well as students</li>
                        <li>Maintained communication with parents / guardians on student progress</li>
                        <li>Created and developed developmentally appropriate resources to meet students’ needs.</li>
                        <li>Guided instruction based on assessment of student progress.</li>
                        <li>Maintained effective and efficient record keeping procedures.</li>
                    </ul>
                    <br />
                    <h4>Liberty School District Kids Zone</h4>
                    <span class="pull-right">05/2003 – 08/2008 <br />Liberty, MO </span>
                    <strong>Program Counselor</strong> 
                    <ul>
                        <li>Supervised children ranging from kindergarten to 5th grade.</li>
                        <li>Built relationships with over 100 students as well as 100+ parents</li>
                    </ul>

                      <h2>TECHNICAL TRAINING and EDUCATION</h2>
                    
                    <span style="float: right">06/2011 - 09/2011</span>
                    <strong>Centriq Training, Leawood, KS</strong><br />
                        <p>Application Developer in C#.NET Program</p> 
                    <strong>Technical Competencies:</strong>
                    <p>C#, ASP.NET 2.0 &amp; 3.5, ADO.NET, AJAX, LINQ, Visual Studio 2008, SQL, SQL Server 2005, SSMSE 2005,
                       Database Design, XHTML, CSS 2.0.</p>
                    
                    <strong>
                        Professional IT Project Experience:</strong>
                    <ul>
                        <li>Widgets and Gadgets: Created a secure application for managing product data.</li>
                        <li>S.A.T. Project: Created a secure application for managing students, courses, and
                            scheduling data. </li>
                        <li>Job Finder Project: Created a secure ASP.NET application for the purpose of tracking
                            job posting related information using C# and the .NET 3.5 framework. The application
                            tracks companies, job postings, contacts, and communication data through the lifecycle
                            of a job application. Built and scripted a SQL Server 2005 database from scratch
                            where all data was stored. This application uses various aspects of ASP .NET including
                            membership, directory security, data controls, e-mail functionality, and custom
                            error handling. Managed all aspects of this project from creating the masterpage
                            all the way through database and website deployment. Projects available for review
                            live at the following URL: www.thejwal.com </li>
                    </ul>
                    <strong>Soft Skills Training:</strong>
                    <ul>
                        <li>Customer Care &amp; Effective Communication.</li>
                    </ul>
                    <strong>
                        Certifications:</strong>
                    <ul>
                        <li>Microsoft Certified Technology Specialist (MCTS): 3.5.NET Framework Web Applications.</li>
                    </ul>
                    <h2>
                        EDUCATION / PROFESSIONAL DEVELOPMENT</h2>
                    <span style="float: right">08/2003 - 05/2008 <br /> Liberty, MO</span>
                    <strong>William Jewell College</strong> 
                    <ul>
                        <li>Bachelor of Science degree in Elementary Education</li>
                    </ul>
                    <h2>
                        HONORS / ACTIVITIES</h2>
                    <ul>
                        <li>Eagle Scout – Boy Scouts of America</li>
                    </ul> 
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("#Resume").addClass("active");
    </script>
}