@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span7 offset2">
        <h3>Services</h3>
        <p>The J Wal Development LLC takes care of your entire web presence, from your website to social media sites.</p>
    </div>
</div>
